body{
    background: #f8f8f8;
}

a{
    text-decoration: none;
    color: black;
}

.bye_but{
    height: 40px;
    width: 100px;
    font-size: 20px;
    font-weight: 700;
    background-color: darkgrey;
    border-radius: 10px;
}

.bye_but:hover{
    color: red;
    background-color: darkgoldenrod;
}

.catalogimg{
    width: 150px;
    height: 150px;
}

.chartable{
    border: 1px solid #000;
    width: 600px;
    height: 300px;
    border-collapse: collapse;
}

.chartable td{
    border: 1px solid black;
    padding-left: 10px;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.email{
    height: 20px;
    width: 150px;
    color: darkblue;
    background-color: #ffe;
}

.email:focus{
    background-color: cornflowerblue;
    color: wheat;
}

.feedback{
    height: 20px;
    width: 800px;
    color: darkblue;
    background-color: #ffe;
    text-transform: capitalize;
}

.footer{
    background: #bbb;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
}

.footer p{
    float: right;
    padding-right: 10px;
}

.good{
    width: 150px;
    height: 180px;
    background-color: white;
    display: inline-block;
    border: 2px solid black;
    margin: 0 10px;
    border-radius: 5px;
}

.good:hover{
    border: 2px solid red;
}

.good p{
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
}

.goodsimg{
    width: 250px;
    height: 250px;
    outline: 5px solid #000;
    float: left;
    margin: 10px;
}

.goodsimg:hover{
    outline: none;
}

.header{
    background-image: url(img/header_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 140px;
}

.header img{
    width: 140px;
    height: 100px;
    margin-top: 20px;
    margin-left: 40px;
    float: left;
}

.headling{
    color: black;
    font-size: 24px;
    font-weight: 400;
    background-color: #eaeaea;
    clear: both;
    border-radius: 5px;
}

.long{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.long::first-letter{
    font-size: 30px;
    color: brown;
}

.main{
    clear: both;
}

.menu{
    float: right;
}

.menu li{
    color: black;
    list-style-type: none;
    width: 120px;
    height: 30px;
    border: 2px solid #000;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin-top: 40px;
    margin-right: 25px;
}

.menu li a{
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    font-weight: 700;
}

.menu li a:hover{
    color: red;
}

.menu li a:active{
    color: green;
}

.short{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
    margin-top: 130px;
}

.text::first-letter{
    font-size: 30px;
    color: brown;
}